/******************** TEXT STYLES   ********************/
#aboutMain {
    height: 100vh;
    position: relative;
}

#aboutMain h1 {
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    
}

#aboutMain hr {
    width: 50%;
    height: 2px;
    margin: 1rem auto;
    border: none;
    background: linear-gradient(to right, transparent, black, transparent);
}

#aboutMain p {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    width: 435px;
    margin: 10px auto;
    padding-top: 30px;
    
}


.centerText {
    text-align: center;
    
}

.centerText span {
    color: #DFAF37;
    font-family: 'Corinthia', sans-serif;
    font-size: 1.5rem;
}

.mainCrdBtn {
    width: 200px;
}
