
@media (max-width: 768px) {
    #shopName {
        font-size: 1.6rem;
        margin: 0 auto;
    }
    #brandLogo {
        width: 100px;
        margin-left: -5px;
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    #navbarBtn {
        padding: 2px 100px;
    }
}