/********************** INTRO SECTION STYLES *********************/

#titleAndParagraph {
    padding-bottom: 70px;
}

#sigServH2M2L {
    font-family: 'Playfair Display', sans-serif;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

#sigServHr {
    width: 100px;
    border: none;
    border-right: 5px solid black;
    transform: rotate(180deg);
    transform-origin: center;
    margin-top: 70px;
    background-color: transparent;
    opacity: 1;
}

#sigServP {
    padding-top: 70px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

@media (max-width: 767.98px) {

    #sigServHr {
        border-right: none;
        border-top: 5px solid black;
        height: 2px;
        width: 50%;
        margin: 1.5rem auto;
        margin-bottom: -20px;
        margin-top: 30px;
        align-self: center;
        order: 0;
    }

    #sigServH2S {
        font-family: 'Playfair Display', sans-serif;
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }

    #sigServH2M2L {
        display: none;
    }

    #sigServP {
        max-width: 75%;
        margin-top: -20px;
    }
}

@media (min-width: 768px) {
    #sigServH2S {
        display: none;
    }
}

/********************** MAIN SECTION STYLES *********************/

.mainCard {
    background-color: whitesmoke !important;
}
.mainCard .title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.7rem;
}

.mainCard .subtitle {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
}

#mainCrdBtn {
    background-color: rgb(32, 29, 29) !important;
    margin-top: -5px !important;
    padding: 5px 40px !important;
    margin-bottom: 5px;
    color: #DFAF37 !important;
    font-family: 'Eb Garamond', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1.2rem;
    text-decoration: none !important;
}


.mainCrdBtn:hover {
    color: #9a7924 !important;
}

.read-more {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: 'Eb Garamond', sans-serif !important;
    color: black;
}