
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*********************** MAIN NAVBAR STYLES ***********************/
#mainNav .navbar-brand{
  font-size: 2rem;
  font-family: 'Playfair display', sans-serif;
}

#mainNav .nav-link {
  font-size: 1.2rem;
  font-family: 'Cormorant Garamond', sans-serif;
  color: black;
  font-weight: 500;
}

#brandLogo {
  image-rendering: crisp-edges;
}